/*  login STYLES */
#login-sec {
    padding-top: 100px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#login-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height: 600px;
    }

    #login-sec h1 {
        color:#fff;
    }
#login-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/* FOOTER STYLES */
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
}